.header .logo {
    height: 100%;
}
.header {
    position: relative;
}
.header .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;

}