#map {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    border: #0091ea 2px solid;
}

.no-map {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    text-align: center;
    line-height: 500px;
    border: #0091ea 2px solid;
    font-size: 25px;
}